/* Header */

/* image de fond */
.header {
      background-image:   linear-gradient(rgba(0, 0, 255, 0.5), 
                          rgba(255, 255, 0, 0.5)), 
                          url('./headerback.jpg');
      background-size: cover;
      height: 800px;
      width: 100%;
      text-align: center;
  }
  
  /* Titre */ 
  .header h1 {
      display: inline-block;
      font-size: 80px;
      font-weight: 1000;
  }
  
  /* Compétences */ 
  .header .skills {
      font-size: 34px;
      font-weight: 400;
      text-align: left;
      margin: 80px auto;
      width: 500px;
      list-style: none;
  }
  
  .header li {
      margin: 40px auto;
  }
  
  .header .bar {
      background: #353b48;
      display: block;
      height: 5px;
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0 10px #06131fa2;
  }
  
  .header .bar span {
      height: 5px;
      float: left;
      background: #34f034c7;
  }
  
  .header .html {
      width: 90%;
      animation: html 2s;
  }
  
  .header .css {
      animation: css 2s;
      width: 90%;
  }
  
  .header .js {
      animation: js 2s;
      width: 90%;
  }
  
  .header .ng {
      animation: ng 2s;
      width: 90%;
  }
  
  @keyframes html {
      0%{
          width: 0%;
      }
      100%{
          width: 90%
      }
  }
  
  @keyframes css {
      0%{
          width: 0%;
      }
      100%{
          width: 90%
      }
  }
  
  @keyframes js {
      0%{
          width: 0%;
      }
      100%{
          width: 90%
      }
  }
  
  @keyframes ng {
      0%{
          width: 0%;
      }
      100%{
          width: 90%
      }
  }
  