<footer class="footer">
  <div class="container">
    <form class="contact">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Message</label>
        <textarea class="form-control" rows="3" id="exampleInputPassword1"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <p>
      Copyright @Me
    </p>
  </div>
</footer>