/* Barre de navigation */

.nav{
      font-size: 25px;
      background:#10828C;
      /* si ça deborde on cache */ 
      overflow: hidden;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      z-index: 999;
      margin: 0;
  }
  
  /* Liens de navigation */
  
  .nav-ul{
      /* reset */ 
      margin: 0;
      padding: 0;
      /* Pour mettre les liens à droite de la brand */
      float: right;
      /* Enleve les bullets */
      list-style-type: none;
  }
  
  .nav-li{
      /* on cole les liens en eux et à droit de ul */
      float: left;
  }
  
  .nav-a, .nav-brand{
      text-align: center;
      text-decoration: none;
        color: #f4f4f4;
      cursor: pointer;
      padding: 20px 16px;
  }
  
  .nav-brand {
      display: inline-block;
      vertical-align: middle;
  }
  
  .nav-a{
      display: block;
        margin-right: 1em !important;
  }
  
  .nav-a:hover{
        background: #f4f4f4;
        color: #f97300;
  }
  
  